@font-face {
  font-family: 'Ruder Plakat';
  src: url('/fonts/RuderPlakatLLVIP.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lateral TRIAL Condensed';
  src: url('/fonts/LateralTRIAL-CondensedRegular.woff2') format('woff2'),
    url('/fonts/LateralTRIAL-CondensedRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lateral TRIAL Standard';
  src: url('/fonts/LateralTRIAL-StandardRegular.woff2') format('woff2'),
    url('/fonts/LateralTRIAL-StandardRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lateral TRIAL Condensed';
  src: url('/fonts/LateralTRIAL-CondensedBold.woff2') format('woff2'),
    url('/fonts/LateralTRIAL-CondensedBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lateral TRIAL CondensedHeavy';
  src: url('/fonts/LateralTRIAL-CondensedHeavy.woff2') format('woff2'),
    url('/fonts/LateralTRIAL-CondensedHeavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lateral Condensed';
  src: url('/fonts/Lateral-CondensedHeavy.woff2') format('woff2'),
    url('/fonts/Lateral-CondensedHeavy.woff') format('woff');
  font-weight: 1000;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lateral TRIAL Expanded';
  src: url('/fonts/LateralTRIAL-ExpandedHeavy.woff2') format('woff2'),
    url('/fonts/LateralTRIAL-ExpandedHeavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Founders grotesk mono medium';
  src: url('/fonts/test-founders-grotesk-mono-regular.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lateral TRIAL Extended';
  src: url('/fonts/LateralTRIAL-ExtendedMedium.woff2') format('woff2'),
    url('/fonts/LateralTRIAL-ExtendedMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TestSohne-Leicht';
  src: url('/fonts/TestSohne-Leicht.woff2') format('woff2'), url('/fonts/TestSohne-Leicht.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'test-soehne-buch';
  src: url('/fonts/test-soehne-buch.woff2') format('woff2'), url('/fonts/test-soehne-buch.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
