.text-239 {
  font-size: clamp(7.5rem, 100vw, calc(200 / 1920 * 100vw));
  line-height: 1;
  font-family: 'Ruder Plakat', sans-serif;
  letter-spacing: 2px;
  letter-spacing: -0.02em;
  font-weight: 400;
}

.text-107 {
  font-size: clamp(3rem, 100vw, calc(107 / 1920 * 100vw));
  line-height: 1;
  font-family: 'Ruder Plakat', sans-serif;
  letter-spacing: 2px;
  letter-spacing: -0.016em;
  font-weight: 400;
}

.text-90 {
  font-size: clamp(7.5rem, 100vw, calc(90 / 1920 * 100vw));
  line-height: 1;
  font-family: 'Ruder Plakat', sans-serif;
  letter-spacing: 2px;
  font-weight: 400;
}

.text-65 {
  font-size: clamp(2rem, 100vw, calc(65 / 1920 * 100vw));
  line-height: 1;
  font-family: 'Canela', serif;
  font-weight: 300;
}

.text-63 {
  font-size: calc(63 / 1920 * 100vw);
  line-height: 1;
  font-family: 'Lateral Condensed', serif;
  font-weight: 1000;
}

.text-62 {
  font-size: calc(62 / 1920 * 100vw);
  line-height: 1;
  font-family: 'Ruder Plakat', serif;
  font-weight: 300;
}

.text-53 {
  font-size: clamp(3rem, 100vw, calc(53 / 1920 * 100vw));
  line-height: 1;
  font-family: 'Ruder Plakat', sans-serif;
  letter-spacing: 2px;
  font-weight: 400;
}

.text-51 {
  font-size: clamp(2rem, 100vw, calc(51 / 1920 * 100vw));
  line-height: 1;
  letter-spacing: 2px;
  font-family: 'Ruder Plakat', serif;
  font-weight: 300;
}

.text-50 {
  font-size: clamp(1.75rem, 100vw, calc(54 / 1920 * 100vw));
  line-height: 1;
  font-family: 'Lateral TRIAL Expanded';
  font-weight: 900;
  letter-spacing: 2px;
}

.text-22 {
  font-size: clamp(1rem, 100vw, calc(22 / 1920 * 100vw));
  line-height: 1;
  letter-spacing: 0.012em;
  font-family: 'TestSohne-Leicht', monospace;
  font-weight: 300;
}

.text-22-lateral {
  font-size: clamp(1rem, 100vw, calc(22 / 1920 * 100vw));
  line-height: 1;
  letter-spacing: 0.012em;
  font-family: 'Lateral TRIAL Condensed';
  font-weight: 700;
}

.text-27 {
  font-size: clamp(1.25rem, 100vw, calc(27 / 1920 * 100vw));
  line-height: 1;
  letter-spacing: 2px;
  font-family: 'Ruder Plakat', serif;
  font-feature-settings: 'hgth' 100;
  font-weight: 300;
}

.text-18 {
  font-size: clamp(0.825rem, 100vw, calc(18 / 1920 * 100vw));
  line-height: 1;
  font-family: 'TestSohne-Leicht', monospace;
  letter-spacing: 0.0144;
}

.text-16 {
  font-size: clamp(0.75rem, 100vw, calc(16 / 1920 * 100vw));
  line-height: 1.4;
  font-family: 'TestSohne-Leicht', serif;
  text-transform: none;
  font-weight: 400;
}

.text-15 {
  font-size: clamp(0.6rem, 100vw, calc(15 / 1920 * 100vw));
  line-height: 1;
  letter-spacing: 0.012em;
  font-family: 'TestSohne-Leicht', monospace;
  font-weight: 300;
}

.text-10 {
  font-size: clamp(0.6rem, 100vw, calc(10 / 1920 * 100vw));
  line-height: 1;
  font-family: 'TestSohne-Leicht', monospace;
  letter-spacing: 0.008em;
}
